# This is a sample experiment configuration

experiment:
{
    # -----------------------------------------------------------
    # Experiment setup
    # -----------------------------------------------------------
    title = "Sample title";  # This has to be included.
    repeat = 1;  # The number of times this experiment is executed. If it's not included, default is 1.
    faulty_process = 3; # The process where faults will be injected. -1 means select it randomly.
	
    # Number of injections in this experiment. This has to match with the actual
    # injection declarations in this file, i.e., injection1, injection2, etc.
    num_injections = 1; 

    injection1:
    {
        num_faults = 1;

        # -----------------------------------------------------------
        # Faults 
        # -----------------------------------------------------------
        operation_type1 = "SEND_COLL_BCAST";
        fault_type1 = "FINITE_LOOP";
        parameters1 = [10]; # Parameters (if needed) are passed as an array of integers. Max num of parameters is 5.
        individual_operation1 = 1;
        candidates1 = 1; # This is the number of calls of this type in the program. It selects one out of this number to inject the fault 
    };
};

##########################################
# Datatype parameters in integer values
# (This is used in datacorruption faults)
##########################################
# C datatypes:
# 1 = MPI_CHAR
# 2 = MPI_INT
# 3 = MPI_SHORT
# 4 = MPI_LONG
# 5 = MPI_FLOAT
# 6 = MPI_DOUBLE
# Fortran datatypes:
# 7 = MPI_REAL
# 8 = MPI_DOUBLE_PRECISION
# 9 = MPI_INTEGER
